mat-card-header, mat-card-content, mat-card-actions,form{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-image{
  width: 45%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field{
  text-align: center;
}
